<!DOCTYPE html>
<html>
  <head>
    <title>ArtsShowcase01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-branding">



	<img alt="Home" class="site-logo" src=   <%= asset_path('SAClogo-01.svg') %>

	     width=160
	     height=50
	     >


      <h1 class="site-title">Porchfest 2021</h1>
    </header>


    
    <nav class="site-menu">
      <ul class="menu list-unstyled constrained">

	<li><a href="#">Boards</a></li>
        <li><a href="#">Jackets</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">POWER</a></li>
        <li><a href="#">Hover Accessories</a></li>
      </ul>
    </nav>

    <main>
      <section class="content constrained">

	<%= yield %>
	</section>
    </main>

    <footer class="constrained">
      <nav class="footer-menu">
	<ul class="menu list-unstyled">

          <li><a href="#">Boards</a></li>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">POWER</a></li>
          <li><a href="#">Hover Accessories</a></li>
        </ul>
      </nav>

      <div class="footer-nameplate">
        <address>
Somerville Arts Council<br />
50 Evergreen Avenue<br />
Somerville, MA 02145<br />
T 617.625.6600 ext. 2985<br />
        </address>
      </div>
    </footer>
  </body>
</html>
