<!DOCTYPE html>
<html>
  <head>
    <title>ArtsShowcase01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="style" href="mina.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-branding">
      <img class="site-logo" src="http://via.placeholder.com/160x50/990000/ffffff&text=SAC" alt="Somerville Arts Council">
      <h1 class="site-title">Porchfest 2021</h1>
    </header>
    
    <nav class="site-menu">
      <ul class="menu">
        <li>Boards</li>
        <li>Jackets</li>
        <li>Shoes</li>
        <li>POWER</li>
        <li>Hover Accessories</li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
